{% extends 'base.html' %}

{% block info %}
    {% for t in tracks %}
{{ t.song_url  }}
    {% endfor %}
{% endblock %}

{% block musicPlayer %}
    <div class="container-fluid">
        <div class="row">





        </div>
    </div>
{% endblock %}


{#<div class="col-xs-3 col-md-2"></div>#}
{#  <div class="col-xs-12 col-md-8">#}
{#      <img id="logo" src="images/Final_Logo.jpg">#}
{#      <h3>Artist Name: </h3>#}
{#      <h3>Song Name: </h3>#}
{#      <img id="artist" src="">#}
{#      <img id="heart" src="images/heart.jpg">#}
{##}
{#      <div id="widgetContainer">#}
{##}
{#      </div>#}
{##}
{##}
{##}
{#  </div>#}
{#  <div class="col-xs-3 col-md-2"></div>#}